div {
    width: 100%;
    text-align: center;
    vertical-align: top;
    margin-top: 5mm;
    margin-bottom: 5mm;
}

#header span.title {
	font-family: "times new roman", sans-serif;
	font-size: 200%;
	font-wight: bold;
	color: #0d0089;
	margin-left: 8px;
}

#header span.aoo {
	font-family: "verdana", sans-serif;
	font-size: 80%;
}

input.submit {
    background: -webkit-linear-gradient(#008040,#009d9d); 
    background: -o-linear-gradient(#008040,#009d9d); 
    background: -moz-linear-gradient(#008040,#009d9d); 
    background: linear-gradient(#008040,#009d9d);  
    color: white;       
    border: 1px solid #000;
    border-radius:5px;
    padding:4px 6px 4px 6px;     
	margin-right: 5px;    
	font-weight: bold;
	
}

table {
	width: 100%;
    margin-top: 1cm;
}

td {
	width: 50%;
}